li{
	list-style: none;
	display: inline;
}

#main-menu{
	width: 400px;
	height: 250px;
	left:50%;
	position: absolute;
	top:50%;
	margin:-125px 0px 0px -200px;
	display:'none';
}
#multiplayer-parent, #mod-parent{
	display:none;
}
#game-list, #join-list{
	background-color: #fff;
}